<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form">
      <app-login></app-login>
				<span class="contact100-form-title">
					Registration Form
				</span>

      <label class="label-input100" for="type">Are you a student or a young
        professional?</label>
      <div class="wrap-input100 validate-input">
        <select [(ngModel)]="userProfileInput.type"
                class="input100"
                id="type"
                name="type">
          <option>Student</option>
          <option>Young professional</option>
        </select>
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="email">IEEE email</label>
      <div class="wrap-input100 validate-input">
        <input [(ngModel)]="userProfileInput.email"
               class="input100"
               disabled
               id="email"
               name="email"
               type="text">
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="member-number">IEEE member
        number</label>
      <div class="wrap-input100 validate-input">
        <input [(ngModel)]="userProfileInput.memberNumber"
               class="input100"
               id="member-number"
               name="member-number"
               type="text">
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="full-name">Full name</label>
      <div class="wrap-input100 validate-input">
        <input [(ngModel)]="userProfileInput.fullName"
               class="input100"
               disabled
               id="full-name"
               name="full-name"
               type="text">
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="cin">CIN</label>
      <div class="wrap-input100 validate-input">
        <input [(ngModel)]="userProfileInput.cin"
               class="input100"
               id="cin"
               name="cin"
               type="text">
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="release-date">Release date</label>
      <div class="wrap-input100 validate-input">
        <input [(ngModel)]="userProfileInput.releaseDate"
               class="input100"
               id="release-date"
               name="release-date"
               type="date">
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="phone-number">Phone number</label>
      <div class="wrap-input100 validate-input">
        <input [(ngModel)]="userProfileInput.phoneNumber"
               class="input100"
               id="phone-number"
               name="phone-number"
               type="text">
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="birth-date">Birth date</label>
      <div class="wrap-input100 validate-input">
        <input [(ngModel)]="userProfileInput.dateOfBirth"
               class="input100"
               id="birth-date"
               name="birth-date"
               type="date">
        <span class="focus-input100"></span>
      </div>

      <label *ngIf="userProfileInput.type == 'Student'"
             class="label-input100"
             for="student-branch">Student branch</label>
      <div class="wrap-input100 validate-input">
        <select *ngIf="userProfileInput.type == 'Student'"
                [(ngModel)]="userProfileInput.studentBranch"
                class="input100"
                id="student-branch"
                name="student-branch">
          <option>ENIT</option>
          <option>ENIS</option>
          <option>ENSI</option>
          <option>SUP'COM</option>
          <option>ENISO</option>
          <option>ENICAR</option>
          <option>INSAT</option>
          <option>ENIG</option>
          <option>FST</option>
          <option>ENIB</option>
          <option>ENSIT</option>
          <option>ENIM</option>
          <option>ENETCOM</option>
          <option>ULT</option>
          <option>ISSAT</option>
          <option>ENSTAB</option>
          <option>ISET Djerba</option>
          <option>ISET’Com</option>
          <option>Polytechnic Sousse</option>
          <option>Polytechnic Monastir</option>
          <option>ISI</option>
          <option>ISET Rades</option>
          <option>INAT</option>
          <option>TEK-UP</option>
          <option>FSS</option>
          <option>ESPRIT</option>
          <option>SESAME</option>
          <option>ISI Mahdia</option>
          <option>IIT</option>
          <option>Polytechnic Sfax</option>
        </select>
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="payment-receipt">Payment
        receipt</label>
      <div class="wrap-input100 validate-input">
        <input (change)="uploadFile($event)"
               accept=".png,.jpg"
               class="input100"
               id="payment-receipt"
               name="payment-receipt"
               type="file">
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="accommodation">Accommodation</label>
      <div class="wrap-input100 validate-input">
        <select [(ngModel)]="userProfileInput.accommodation"
                class="input100"
                id="accommodation"
                name="accommodation">
          <option>Diar Lemdina</option>
          <option>Eden</option>
        </select>
        <span class="focus-input100"></span>
      </div>

      <div class="container-contact100-form-btn">
        <button (click)="update()" class="contact100-form-btn">
          Update my profile
        </button>
      </div>
    </form>

    <div class="contact100-more flex-col-c-m"
         style="background-image: url('assets/images/bg-01.jpg');">
      <div class="flex-w size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-map-marker"></span>
        </div>

        <div class="flex-col size2">
						<span class="txt1 p-b-20">
							Address
						</span>

          <span class="txt2">
							Medina, Yasmine Hammamet
						</span>
        </div>
      </div>

      <div class="dis-flex size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-phone-handset"></span>
        </div>

        <div class="flex-col size2">
						<span class="txt1 p-b-20">
							Lets Talk
						</span>

          <span class="txt3">
							+1 800 1236879
						</span>
        </div>
      </div>

      <div class="dis-flex size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-envelope"></span>
        </div>

        <div class="flex-col size2">
						<span class="txt1 p-b-20">
							Contact
						</span>

          <span class="txt3">
							tsyp@ieee.org
						</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="assets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="assets/vendor/bootstrap/js/popper.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="assets/vendor/select2/select2.min.js"></script>
<script>
    $(".selection-2").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });
</script>
<!--===============================================================================================-->
<script src="assets/vendor/daterangepicker/moment.min.js"></script>
<script src="assets/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="assets/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="assets/js/main.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async
        src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>
