<!-- contact
================================================== -->
<section class="s-contact" id="contact">

  <div class="overlay"></div>
  <div class="contact__line"></div>

  <div class="row section-header">
    <div class="col-full">
      <h3 class="subhead">
        7<sup>th</sup>
        IEEE Tunisian Students and Young Professionals Congress (TSYP)
      </h3>
      <h3 class="subhead">
        <mark>December 15<sup>th</sup> - 17<sup>th</sup> 2019</mark>
      </h3>
      <h1 class="display-2 display-2--light">Registration form</h1>
    </div>
  </div>

  <div class="row contact-content">

    <div class="contact-primary">
      <app-login></app-login>

      <h3 *ngIf="!isAlreadyRegistred
                    && ((diarLemdina | async)?.count < diarLemdinaLimit
                    || (eden | async)?.count < edenLimit)" class="h6">
        Please confirm all the provided information are correct and accurate
        before submitting the registration form.
      </h3>

      <form action="" id="contactForm" method="post" name="contactForm"
            *ngIf="!isAlreadyRegistred
                      && ((diarLemdina | async)?.count < diarLemdinaLimit
                      || (eden | async)?.count < edenLimit)"
            #registrationForm="ngForm"
            (ngSubmit)="update()"
            class="form-group"
            novalidate="novalidate">
        <fieldset>

          <div class="form-field">
            <label for="type">Full name</label>
            <input [(ngModel)]="userProfileInput.fullName"
                   class="full-width"
                   disabled
                   id="full-name"
                   name="full-name"
                   type="text">
          </div>

          <div class="form-field">
            <label for="type">IEEE email</label>
            <input [(ngModel)]="userProfileInput.email"
                   class="full-width"
                   disabled
                   id="email"
                   name="email"
                   type="text">
          </div>

          <div class="form-field">
            <label *ngIf="type.valid || type.untouched" for="type">Student or
              YP? *</label>
            <label *ngIf="type.invalid && type.touched"
                   class="label-warning"
                   for="type">This field is required!</label>
            <select [(ngModel)]="userProfileInput.type"
                    #type="ngModel"
                    id="type"
                    name="type"
                    class="full-width form-control"
                    ngModel
                    required="">
              <option>Student</option>
              <option>Young professional</option>
              <option>Member</option>
              <option>Senior member</option>
            </select>
          </div>

          <div *ngIf="userProfileInput.type == 'Member'
                        || userProfileInput.type == 'Senior member'
                        || userProfileInput.type == 'Young professional'"
               class="form-field">
            <label for="organization">
              Organization *
            </label>
            <label *ngIf="organization.invalid && organization.touched"
                   class="label-warning"
                   for="organization">
              Organization is required!
            </label>
            <input #organization="ngModel"
                   [(ngModel)]="userProfileInput.organization"
                   class="full-width form-control"
                   id="organization"
                   name="organization"
                   ngModel
                   required
                   type="text">
          </div>

          <div *ngIf="userProfileInput.type == 'Member'
                        || userProfileInput.type == 'Senior member'
                        || userProfileInput.type == 'Young professional'"
               class="form-field">
            <label for="position">
              Position *
            </label>
            <label *ngIf="position.invalid && position.touched"
                   class="label-warning"
                   for="position">
              Position is required!
            </label>
            <input #position="ngModel"
                   [(ngModel)]="userProfileInput.position"
                   class="full-width form-control"
                   id="position"
                   name="position"
                   ngModel
                   required
                   type="text">
          </div>

          <div *ngIf="userProfileInput.type == 'Student'" class="form-field">
            <label *ngIf="studentBranch.valid || studentBranch.untouched"
                   for="student-branch">
              Student branch *
            </label>
            <label *ngIf="studentBranch.invalid && studentBranch.touched"
                   class="label-warning"
                   for="student-branch">
              Student branch is required!
            </label>
            <select [(ngModel)]="userProfileInput.studentBranch"
                    #studentBranch="ngModel"
                    class="full-width form-control"
                    id="student-branch"
                    ngModel
                    required
                    name="student-branch">
              <option>Other educational institution</option>
              <option>ENIT</option>
              <option>ENIS</option>
              <option>ENSI</option>
              <option>SUP'COM</option>
              <option>ENISO</option>
              <option>ENICAR</option>
              <option>INSAT</option>
              <option>ENIG</option>
              <option>FST</option>
              <option>ENIB</option>
              <option>ENSIT</option>
              <option>ENIM</option>
              <option>ENETCOM</option>
              <option>ULT</option>
              <option>ISSAT</option>
              <option>ENSTAB</option>
              <option>ISET Djerba</option>
              <option>ISET’Com</option>
              <option>Polytechnic Sousse</option>
              <option>Polytechnic Monastir</option>
              <option>ISI</option>
              <option>ISET Rades</option>
              <option>INAT</option>
              <option>TEK-UP</option>
              <option>FSS</option>
              <option>ESPRIT</option>
              <option>SESAME</option>
              <option>ISI Mahdia</option>
              <option>IIT</option>
              <option>Polytechnic Sfax</option>
            </select>
          </div>

          <div
            *ngIf="userProfileInput.studentBranch == 'Other educational institution'
                      && userProfileInput.type == 'Student'"
            class="form-field">
            <label for="educationalInstitution">
              Educational institution *
            </label>
            <label
              *ngIf="educationalInstitution.invalid && educationalInstitution.touched"
              class="label-warning"
              for="educationalInstitution">
              Educational institution is required!
            </label>
            <input #educationalInstitution="ngModel"
                   [(ngModel)]="userProfileInput.educationalInstitution"
                   class="full-width form-control"
                   id="educationalInstitution"
                   name="educationalInstitution"
                   ngModel
                   required
                   type="text">
          </div>

          <div class="form-field">
            <label *ngIf="memberNumber.valid || memberNumber.untouched"
                   for="member-number">
              IEEE member number *
            </label>
            <label *ngIf="memberNumber.invalid && memberNumber.touched"
                   class="label-warning"
                   for="member-number">IEEE member number is invalid!</label>
            <input [(ngModel)]="userProfileInput.memberNumber"
                   #memberNumber="ngModel"
                   id="member-number"
                   name="member-number"
                   class="full-width form-control"
                   ngModel
                   pattern="[0-9]{8}"
                   required
                   type="text">
          </div>

          <div class="form-field">
            <label *ngIf="phoneNumber.valid || phoneNumber.untouched"
                   for="phone-number">
              Phone number *
            </label>
            <label *ngIf="phoneNumber.invalid && phoneNumber.touched"
                   class="label-warning"
                   for="phone-number">
              Phone number is invalid!
            </label>
            <input [(ngModel)]="userProfileInput.phoneNumber"
                   #phoneNumber="ngModel"
                   class="full-width form-control"
                   ngModel
                   pattern="\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$"
                   id="phone-number"
                   name="phone-number"
                   required
                   type="tel">
          </div>

          <div class="form-field">
            <label for="birth-date">Birth date</label>
            <input [(ngModel)]="userProfileInput.dateOfBirth"
                   class="full-width unstyled-date"
                   id="birth-date"
                   name="birth-date"
                   type="date">
          </div>

          <div class="form-field">
            <label *ngIf="paymentReceipt.valid || paymentReceipt.untouched"
                   for="payment-receipt">
              Payment receipt *
            </label>
            <label *ngIf="paymentReceipt.invalid && paymentReceipt.touched"
                   class="label-warning"
                   for="payment-receipt">
              Payment receipt is required!
            </label>
            <input (change)="uploadFile($event)"
                   accept=".png,.jpg"
                   class="full-width"
                   id="payment-receipt"
                   #paymentReceipt="ngModel"
                   name="payment-receipt form-control"
                   ngModel
                   required
                   type="file">
          </div>

          <div class="form-field">
            <button type="submit"
                    class="full-width btn--primary">Submit
            </button>
            <div *ngIf="isLoading" class="submit-loader">
              <div class="text-loader">Sending...</div>
              <div class="s-loader">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </div>
          </div>

        </fieldset>
      </form>

      <!-- contact-warning -->
      <div *ngIf="isAlreadyRegistred && !isSuccess" class="message-warning">
        {{ userProfileInput.email }} is already registered. Please contact us
        if there is any problem.
      </div>

      <!-- contact-success -->
      <div *ngIf="isSuccess" class="message-success">
        Your registration was successful! You will be redirected to our
        Facebook page in in 5 seconds...
      </div>

      <div *ngIf="!((diarLemdina | async)?.count < diarLemdinaLimit
                      || (eden | async)?.count < edenLimit)
                      && !isSuccess
                      && !isAlreadyRegistred"
           class="message-warning">
        Sorry, no more places left.
      </div>

      <div *ngIf="isError && !isLoading"
           class="message-warning">
        Something bad happened. Please try again later.
      </div>

    </div> <!-- end contact-primary -->

    <div class="contact-secondary">
      <div class="contact-info">

        <h3 class="h6 hide-on-fullwidth">Contact Info</h3>

        <div class="cinfo">
          <h5>Venue</h5>
          <p>
            Medina Convention Center<br>
            Yasmine Hammamet<br>
            Tunisia
          </p>
        </div>

        <div class="cinfo">
          <h5>Email us at</h5>
          <p>
            <a href="mailto:tsyp@ieee.org">tsyp@ieee.org</a>
          </p>
        </div>

        <div class="cinfo">
          <h5>Call us at</h5>
          <p>
            <a href="tel:+21654557486">(+216) 54 557 486</a><br>
            <a href="tel:+21629024205">(+216) 29 024 205</a><br>
            <a href="tel:+21623209400">(+216) 23 209 400</a>
          </p>
        </div>

        <ul class="contact-social">
          <li>
            <a href="https://tsyp.ieee.tn" target="_blank">
              <i aria-hidden="true" class="fa fa-globe"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/ieee.tsyp" target="_blank">
              <i aria-hidden="true" class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/ieee_tsyp2k19" target="_blank">
              <i aria-hidden="true" class="fa fa-instagram"></i>
            </a>
          </li>
        </ul> <!-- end contact-social -->

      </div> <!-- end contact-info -->
    </div> <!-- end contact-secondary -->

  </div> <!-- end contact-content -->

</section> <!-- end s-contact -->
