<!-- contact
================================================== -->
<section class="s-contact" id="contact">

  <div class="overlay">
    <div>
      <img src="assets/images/ieee_tunisia_logo.png"
           style="height: 40px; weight: 80px;  float: left;left:0; margin-top: 10px; margin-left: 10px;">
      <img src="assets/images/Logo-SBb.png"
           style="height: 50px; weight: 80px;  float: right; right: 0; margin-top: 10px;margin-right: 10px">
      <img src="assets/images/Region8.png"
           style="height: 50px; weight: 80px;  float: left;left:0; margin-top: 10px; margin-left: 10px">
      <img src="assets/images/YPLogo.png"
           style="height: 40px; weight: 80px;  float: right; right: 0; margin-top: 10px; margin-right: 10px">
    </div>
  </div>
  <div class="contact__line"></div>

  <div class="row section-header">
    <div class="col-full">
      <img src="./../../assets/images/logo final blanc_Plan de travail.png" style="height: 200px; weight: 100px; margin-bottom: 20px">
      <h3 class="subhead">
        <mark>December 15<sup>th</sup> - 17<sup>th</sup> 2019</mark>
      </h3>
      <h1 class="display-2 display-2--light">Registration form</h1>
      <p>Registration (including payment) deadline is the <strong><u>30th of November 2019</u></strong>. The number of seats is limited. The registration may be deactivated before the deadline.
      </p>
    </div>
  </div>

  <div class="row contact-content">

    <div class="contact-primary">
      <app-login></app-login>

      <h3 *ngIf="!isAlreadyRegistred
                    && (accommodations.length > 0)" class="h6">
        Please confirm that all the provided information are correct and accurate
        before submitting the registration form.
      </h3>

      <form action="" id="contactForm" method="post" name="contactForm"
            *ngIf="!isAlreadyRegistred
                      && (accommodations.length > 0)"
            #registrationForm="ngForm"
            (ngSubmit)="update()"
            class="form-group"
            novalidate="novalidate">
        <fieldset>

          <div class="form-field">
            <label for="type">Full name</label>
            <input [(ngModel)]="userProfileInput.fullName"
                   class="full-width"
                   disabled
                   id="full-name"
                   name="full-name"
                   type="text">
          </div>

          <div class="form-field">
            <label for="type">IEEE email</label>
            <input [(ngModel)]="userProfileInput.email"
                   class="full-width"
                   disabled
                   id="email"
                   name="email"
                   type="text">
          </div>

          <div class="form-field">
            <label *ngIf="type.valid || type.untouched" for="type">IEEE Grade *</label>
            <label *ngIf="type.invalid && type.touched"
                   class="label-warning"
                   for="type">This field is required!</label>
            <select [(ngModel)]="userProfileInput.type"
                    #type="ngModel"
                    id="type"
                    name="type"
                    class="full-width form-control"
                    ngModel
                    required="">
              <option>IEEE Undergraduate Student</option>
              <option>IEEE Graduate Student (master / PhD students)</option> <!--Young professional-->
              <option>IEEE Professional Member</option> <!--Member-->
              <option>IEEE Senior Member</option> <!--Senior member-->
            </select>
          </div>

          <div *ngIf="userProfileInput.type == 'IEEE Professional Member'
                        || userProfileInput.type == 'IEEE Senior Member'
                        || userProfileInput.type == 'IEEE Graduate Student (master / PhD students)'"
               class="form-field">
            <label for="organization">
              Organization *
            </label>
            <label *ngIf="organization.invalid && organization.touched"
                   class="label-warning"
                   for="organization">
              Organization is required!
            </label>
            <input #organization="ngModel"
                   [(ngModel)]="userProfileInput.organization"
                   class="full-width form-control"
                   id="organization"
                   name="organization"
                   ngModel
                   required
                   type="text">
          </div>

          <div *ngIf="userProfileInput.type == 'IEEE Professional Member'
                        || userProfileInput.type == 'IEEE Senior Member'
                        || userProfileInput.type == 'IEEE Graduate Student (master / PhD students)'"
               class="form-field">
            <label for="position">
              Position *
            </label>
            <label *ngIf="position.invalid && position.touched"
                   class="label-warning"
                   for="position">
              Position is required!
            </label>
            <input #position="ngModel"
                   [(ngModel)]="userProfileInput.position"
                   class="full-width form-control"
                   id="position"
                   name="position"
                   ngModel
                   required
                   type="text">
          </div>
          <div *ngIf="userProfileInput.type == 'IEEE Professional Member'
                        || userProfileInput.type == 'IEEE Senior Member'
                        || userProfileInput.type == 'IEEE Graduate Student (master / PhD students)'" class="form-field">
            <label *ngIf="YP.valid || YP.untouched"
                   for="YP">
              YP membership ? *

            </label>
            <label *ngIf="YP.invalid && YP.touched"
                   class="label-warning"
                   for="YP">
              Answer is required!
            </label>
            <select [(ngModel)]="userProfileInput.yp"
                    #YP="ngModel"
                    class="full-width form-control"
                    id="YP"
                    ngModel
                    required
                    name="YP">
              <option>Yes</option>
              <option>No</option>
            </select>

          </div>

          <div *ngIf="userProfileInput.type == 'IEEE Professional Member'
                        || userProfileInput.type == 'IEEE Senior Member'
                        || userProfileInput.type == 'IEEE Graduate Student (master / PhD students)'">
            <p style="font-size: 12px">(you had received your first professional degree within the last 15 years)</p></div>

          <div *ngIf="userProfileInput.type == 'IEEE Undergraduate Student'" class="form-field">
            <label *ngIf="studentBranch.valid || studentBranch.untouched"
                   for="student-branch">
              Student branch *
            </label>
            <label *ngIf="studentBranch.invalid && studentBranch.touched"
                   class="label-warning"
                   for="student-branch">
              Student branch is required!
            </label>
            <select [(ngModel)]="userProfileInput.studentBranch"
                    #studentBranch="ngModel"
                    class="full-width form-control"
                    id="student-branch"
                    ngModel
                    required
                    name="student-branch">
              <option>Other educational institution</option>
              <option>ENIT</option>
              <option>ENIS</option>
              <option>ENSI</option>
              <option>SUP'COM</option>
              <option>ENISO</option>
              <option>ENICAR</option>
              <option>INSAT</option>
              <option>ENIG</option>
              <option>FST</option>
              <option>ENIB</option>
              <option>ENSIT</option>
              <option>ENIM</option>
              <option>ENETCOM</option>
              <option>ULT</option>
              <option>ISSAT</option>
              <option>ENSTAB</option>
              <option>ISET Djerba</option>
              <option>ISET’Com</option>
              <option>Polytechnic Sousse</option>
              <option>Polytechnic Monastir</option>
              <option>ISI</option>
              <option>ISET Rades</option>
              <option>INAT</option>
              <option>TEK-UP</option>
              <option>FSS</option>
              <option>ESPRIT</option>
              <option>SESAME</option>
              <option>ISI Mahdia</option>
              <option>IIT</option>
              <option>Polytechnic Sfax</option>
            </select>
          </div>

          <div
            *ngIf="userProfileInput.studentBranch == 'Other educational institution'
                      && userProfileInput.type == 'IEEE Undergraduate Student'"
            class="form-field">
            <label for="educationalInstitution">
              Educational institution *
            </label>
            <label
              *ngIf="educationalInstitution.invalid && educationalInstitution.touched"
              class="label-warning"
              for="educationalInstitution">
              Educational institution is required!
            </label>
            <input #educationalInstitution="ngModel"
                   [(ngModel)]="userProfileInput.educationalInstitution"
                   class="full-width form-control"
                   id="educationalInstitution"
                   name="educationalInstitution"
                   ngModel
                   required
                   type="text">
          </div>

          <div class="form-field">
            <label *ngIf="memberNumber.valid || memberNumber.untouched"
                   for="member-number">
              IEEE member number *
            </label>
            <label *ngIf="memberNumber.invalid && memberNumber.touched"
                   class="label-warning"
                   for="member-number">IEEE member number is invalid!</label>
            <input [(ngModel)]="userProfileInput.memberNumber"
                   #memberNumber="ngModel"
                   id="member-number"
                   name="member-number"
                   class="full-width form-control"
                   ngModel
                   pattern="[0-9]{8}"
                   required
                   type="text">
          </div>

          <div class="form-field">
            <label *ngIf="phoneNumber.valid || phoneNumber.untouched"
                   for="phone-number">
              Phone number *
            </label>
            <label *ngIf="phoneNumber.invalid && phoneNumber.touched"
                   class="label-warning"
                   for="phone-number">
              Phone number is invalid!
            </label>
            <ngx-intl-tel-input #phoneNumber="ngModel"
                                [(ngModel)]="userProfileInput.phoneNumber"
                                [cssClass]="'full-width form-control'"
                                [preferredCountries]="preferredCountries"
                                id="phone-number"
                                name="phone-number"
                                ngModel
                                required></ngx-intl-tel-input>
          </div>

          <div class="form-field">
            <label *ngIf="gender.valid || gender.untouched"
                   for="gender">
              Gender *
            </label>
            <label *ngIf="gender.invalid && gender.touched"
                   class="label-warning"
                   for="gender">Gender is required !</label>
            <select [(ngModel)]="userProfileInput.gender"
                    #gender="ngModel"
                    class="full-width form-control"
                    id="gender"
                    ngModel
                    required
                    name="gender">
              <option>Male</option>
              <option>Female</option>
            </select>
          </div>

          <div class="form-field">
            <label for="birth-date">Birth date</label>
            <input [(ngModel)]="userProfileInput.dateOfBirth"
                   class="full-width unstyled-date"
                   id="birth-date"
                   name="birth-date"
                   type="date">
          </div>
          <div class="form-field">
            <label *ngIf="paymentCode.valid || paymentCode.untouched"
                   for="paymentCode">
              Payment Code *
            </label>
            <label *ngIf="paymentCode.invalid && paymentCode.touched"
                   class="label-warning"
                   for="paymentCode">Payment Code is invalid!</label>
            <input [(ngModel)]="userProfileInput.paymentCode"
                   #paymentCode="ngModel"
                   id="paymentCode"
                   name="paymentCode"
                   class="full-width form-control"
                   ngModel
                   required
                   type="text">
          </div>
          <div class="form-field">
            <label *ngIf="accommodation.valid || accommodation.untouched"
                   for="accommodation">
              Accommodation *
            </label>
            <label *ngIf="accommodation.invalid && accommodation.touched"
                   class="label-warning"
                   for="accommodation">
              Accommodation is required!
            </label>
            <select #accommodation="ngModel"
                    [(ngModel)]="userProfileInput.accommodation"
                    class="full-width form-control"
                    id="accommodation"
                    name="accommodation"
                    ngModel
                    required>
              <option *ngFor="let accommodation of accommodations"
                      [ngValue]="accommodation">
                {{ accommodation }}
              </option>
            </select>
          </div>

          <ul>
          <li>Diar Lemdina Hotel (6 persons / apartment)</li>
          <li>Eden Hotel (4 persons / room)</li>
        </ul>
          <p style="font-size: 12px; color: red">PS: Hotel will be assigned according to the availability of the rooms at the registration time.</p>
          <div class="form-field">
            <input type="checkbox"  name="Event Terms and Conditions" required ngModel> I have read and agreed with IEEE's <a href="https://www.ieee.org/conferences/event-terms-and-conditions.html">Event Terms and Conditions</a><br>
            <input type="checkbox"   name="Privacy Policy" required ngModel> I have read and agreed with IEEE’s <a href="https://www.ieee.org/security-privacy.html">Privacy Policy</a><br>
            <input type="checkbox"   name="Code of Ethics" required ngModel> I have read and agreed with IEEE’s <a href="https://www.ieee.org/about/corporate/governance/p7-8.html">Code of Ethics</a><br>
          </div>
          <div class="form-field">
            <button type="submit"
                    class="full-width btn--primary">Submit
            </button>
            <div *ngIf="isLoading" class="submit-loader">
              <div class="text-loader">Sending...</div>
              <div class="s-loader">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </div>
          </div>

        </fieldset>
      </form>

      <!-- contact-warning -->
      <div *ngIf="isAlreadyRegistred && !isSuccess" class="message-warning">
        {{ userProfileInput.email }} is already registered. Please contact us
        if there is any problem.
      </div>

      <!-- contact-success -->
      <div *ngIf="isSuccess" class="message-success">
        Your registration was successful! You will be redirected to our
        Facebook page in in 5 seconds...
      </div>

      <div *ngIf="!(accommodations.length > 0) && !isInit
                      && !isSuccess
                      && !isAlreadyRegistred"
           class="message-warning">
        Sorry, no more places left.
      </div>

      <div *ngIf="isError && !isLoading"
           class="message-warning">
        Something bad happened. Please try again later.
      </div>

    </div> <!-- end contact-primary -->

    <div class="contact-secondary">

      <div class="contact-info">
        <h5 class="h6 hide-on-fullwidth" style="color: white">PAYMENT STEPS</h5>
        <p style="font-size:12px">1 – If you don’t have DigiCard, Create your DigiCard (e-Dinar Smart) via: <a href="https://digicard.poste.tn">link</a>
  <br>2 – Install D17: <a href="http://d17.tn/">link</a>
 <br> 3 – Click on “Paiement Commerçant”
 <br> 4 – If you are:
          <ul style="font-size:12px">
        <li>  <strong style="color: darkgray">An undergraduate student</strong>, scan the QR code for payment of <strong style="color: darkgray">125 TND</strong>
          <p></p> <img src="./../../assets/images/ugrad.jpg" style="height: 80px; weight: 80px; padding-left: 70px">
        <li><strong style="color: darkgray">A graduate student or Young Professional</strong>, scan the QR code of <strong style="color: darkgray">180 TND</strong>
          <p></p><img src="./../../assets/images/grad.jpg" style="height: 80px; weight: 80px; padding-left: 70px">
        <li>  <strong style="color: darkgray">A professional or senior member</strong>, scan the QR code of <strong style="color: darkgray">300 TND</strong>
        <p></p><img src="./../../assets/images/pro.jpg" style="height: 80px; weight: 80px; padding-left: 70px">
      </ul>
        <p style="font-size:12px">5 – Copy the payement reference into the registration form.</p>


        <h5 class="h6 hide-on-fullwidth" style="color: white">Contact Info</h5>

        <div class="cinfo">
          <h5>Venue</h5>
          <p>
            Medina Convention Center<br>
            Yasmine Hammamet<br>
            Tunisia
          </p>
        </div>

        <div class="cinfo">
          <h5>Contact us at</h5>
          <p>
            <a href="mailto:tsyp@ieee.org">tsyp@ieee.org</a><br>
            <a href="tel:+21654557486">(+216) 54 557 486</a><br>
            <a href="tel:+21629024205">(+216) 29 024 205</a><br>
            <a href="tel:+21623209400">(+216) 23 209 400</a>
          </p>
        </div>

        <ul class="contact-social" style="padding-left: 50px">
          <li>
            <a href="https://tsyp.ieee.tn" target="_blank">
              <i aria-hidden="true" class="fa fa-globe"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/ieee.tsyp" target="_blank">
              <i aria-hidden="true" class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/ieee_tsyp2k19" target="_blank">
              <i aria-hidden="true" class="fa fa-instagram"></i>
            </a>
          </li>
        </ul> <!-- end contact-social -->

      </div> <!-- end contact-info -->
    </div> <!-- end contact-secondary -->

  </div> <!-- end contact-content -->

</section> <!-- end s-contact -->
